n8n/workflows/google-trends-rss.json
{
  "name": "TrendsAgent — Google Trends RSS Collector",
  "nodes": [
    {
      "parameters": { "rule": { "interval": [{ "field": "hours", "hoursInterval": 6 }] } },
      "id": "schedule",
      "name": "Every 6 hours",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [260, 300]
    },
    {
      "parameters": { "url": "https://trends.google.com/trending/rss?geo=IN", "options": { "response": { "response": { "responseFormat": "text" } } } },
      "id": "rss",
      "name": "Fetch Google Trends India RSS",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [480, 300]
    },
    {
      "parameters": { "jsCode": "const xml = $input.first().json.data;\nconst text = (value = '') => value.replace(/<!\\[CDATA\\[([\\s\\S]*?)\\]\\]>/g, '$1').replace(/<[^>]*>/g, '').trim();\nconst pick = (block, tag) => text((block.match(new RegExp(`<${tag}[^>]*>([\\s\\S]*?)<\\/${tag}>`, 'i')) || [])[1] || '');\nreturn [...xml.matchAll(/<item>([\\s\\S]*?)<\\/item>/gi)].slice(0, 10).map((match) => {\n  const item = match[1]; const title = pick(item, 'title'); const published = pick(item, 'pubDate'); const traffic = pick(item, 'ht:approx_traffic');\n  const sourceUrl = `https://trends.google.com/trends/explore?geo=IN&q=${encodeURIComponent(title)}`;\n  return { json: { title: `Google Trends: ${title}`, sourceUrl, publishedAt: published, sourceName: 'Google Trends RSS', content: `Trending search: ${title}. Approximate traffic: ${traffic || 'not provided'}. Source: Google Trends Trending Now.` } };\n});" },
      "id": "parse",
      "name": "Validate and normalize items",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [720, 300]
    },
    {
      "parameters": { "method": "POST", "url": "https://wguazpvpelerzoqglyst.supabase.co/functions/v1/automation-ingest", "authentication": "genericCredentialType", "genericAuthType": "httpHeaderAuth", "sendBody": true, "contentType": "json", "jsonBody": "={{ { workspaceId: 'REPLACE_WITH_YOUR_WORKSPACE_ID', title: $json.title, sourceUrl: $json.sourceUrl, publishedAt: $json.publishedAt, content: $json.content, sourceName: $json.sourceName } }}" },
      "id": "ingest",
      "name": "Save approved trend evidence",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [970, 300]
    }
  ],
  "connections": {
    "Every 6 hours": { "main": [[{ "node": "Fetch Google Trends India RSS", "type": "main", "index": 0 }]] },
    "Fetch Google Trends India RSS": { "main": [[{ "node": "Validate and normalize items", "type": "main", "index": 0 }]] },
    "Validate and normalize items": { "main": [[{ "node": "Save approved trend evidence", "type": "main", "index": 0 }]] }
  },
  "active": false,
  "settings": { "executionOrder": "v1" }
}
