n8n/workflows/trendsagent-unified-master-workflow.json
{
  "name": "TrendsAgent OS — Fully Automated Master Collector (Zero Manual Queries)",
  "nodes": [
    {
      "parameters": { "rule": { "interval": [{ "field": "hours", "hoursInterval": 12 }] } },
      "id": "schedule",
      "name": "Every 12 hours",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            { "id": "workspace", "name": "workspaceId", "value": "REPLACE_WITH_YOUR_WORKSPACE_ID", "type": "string" },
            { "id": "youtubeKey", "name": "youtubeApiKey", "value": "REPLACE_WITH_YOUR_YOUTUBE_API_KEY", "type": "string" },
            { "id": "secret", "name": "automationSecret", "value": "REPLACE_WITH_YOUR_AUTOMATION_INGEST_SECRET", "type": "string" },
            { "id": "anonKey", "name": "SUPABASE_ANON_KEY", "value": "REPLACE_WITH_YOUR_SUPABASE_ANON_KEY", "type": "string" }
          ]
        },
        "options": {}
      },
      "id": "config",
      "name": "1. Set Master Credentials",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [450, 300]
    },
    {
      "parameters": {
        "url": "={{ 'https://wguazpvpelerzoqglyst.supabase.co/rest/v1/business_profiles?workspace_id=eq.' + $json.workspaceId + '&select=business_name,industry,description' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $json.SUPABASE_ANON_KEY }}" },
            { "name": "Authorization", "value": "={{ 'Bearer ' + $json.SUPABASE_ANON_KEY }}" }
          ]
        },
        "options": {
          "retry": { "retry": { "maxTries": 2, "waitBetweenTries": 2000 } }
        }
      },
      "id": "fetch_profile",
      "name": "Auto-Read Business Profile from Supabase",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 300],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const profile = $input.first()?.json?.[0] || {};\nconst config = $('1. Set Master Credentials').first()?.json || {};\nconst rawTopic = profile.industry || profile.business_name || 'Business';\nconst cleanTopic = String(rawTopic).replace(/[^a-zA-Z0-9 ]/g, '').trim() || 'Business';\nreturn [{ json: { ...config, businessName: profile.business_name || 'My Business', industry: profile.industry || 'General Industry', autoQuery: cleanTopic } }];"
      },
      "id": "extract_query",
      "name": "Auto-Extract Industry Topic",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "url": "https://trends.google.com/trending/rss?geo=IN",
        "options": {
          "response": { "response": { "responseFormat": "text" } },
          "retry": { "retry": { "maxTries": 3, "waitBetweenTries": 3000 } }
        }
      },
      "id": "fetch_google_trends",
      "name": "2A. Fetch Outside Viral Trends (Google RSS)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1150, 100],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const xml = $input.first()?.json?.data || '';\nconst config = $('Auto-Extract Industry Topic').first()?.json || {};\nconst text = (v = '') => String(v).replace(/<!\\[CDATA\\[([\\s\\S]*?)\\]\\]>/g, '$1').replace(/<[^>]*>/g, '').trim();\nconst pick = (block, tag) => text((block.match(new RegExp(`<${tag}[^>]*>([\\s\\S]*?)<\\/${tag}>`, 'i')) || [])[1] || '');\nconst matches = [...xml.matchAll(/<item>([\\s\\S]*?)<\\/item>/gi)].slice(0, 5);\nconst items = matches.map((m) => {\n  const item = m[1]; const title = pick(item, 'title'); const pub = pick(item, 'pubDate'); const traffic = pick(item, 'ht:approx_traffic');\n  if (!title) return null;\n  return {\n    json: {\n      workspaceId: config.workspaceId,\n      title: `Google Trends: ${title}`,\n      sourceUrl: `https://trends.google.com/trends/explore?q=${encodeURIComponent(title)}`,\n      publishedAt: pub ? new Date(pub).toISOString() : new Date().toISOString(),\n      sourceName: 'Google Trends RSS',\n      sourceType: 'trend',\n      content: `Outside viral market trend: ${title}. Approximate search traffic: ${traffic || 'Not specified'}. Public signal.`,\n      automationSecret: config.automationSecret\n    }\n  };\n}).filter(Boolean);\nreturn items.length ? items : [];"
      },
      "id": "parse_google_trends",
      "name": "Normalize Outside Trends",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1400, 100]
    },
    {
      "parameters": {
        "url": "={{ 'https://www.googleapis.com/youtube/v3/search?part=snippet&q=' + encodeURIComponent($json.autoQuery) + '&type=video&order=date&maxResults=5&key=' + $json.youtubeApiKey }}",
        "options": {
          "retry": { "retry": { "maxTries": 3, "waitBetweenTries": 3000 } }
        }
      },
      "id": "fetch_youtube",
      "name": "2B. Fetch Industry YouTube Videos",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1150, 260],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const config = $('Auto-Extract Industry Topic').first()?.json || {};\nconst rawItems = $input.first()?.json?.items || [];\nconst items = rawItems.map((item) => {\n  const s = item.snippet || {};\n  const vId = item.id?.videoId || '';\n  const title = s.title || '';\n  if (!title || !vId) return null;\n  return {\n    json: {\n      workspaceId: config.workspaceId,\n      title: `YouTube Video: ${title}`,\n      sourceUrl: `https://www.youtube.com/watch?v=${vId}`,\n      publishedAt: s.publishedAt || new Date().toISOString(),\n      sourceName: 'YouTube Data API',\n      sourceType: 'report',\n      content: `YouTube video content for industry '${config.industry}'. Title: ${title}. Channel: ${s.channelTitle || 'Unknown'}. Description: ${s.description || 'N/A'}`,\n      automationSecret: config.automationSecret\n    }\n  };\n}).filter(Boolean);\nreturn items.length ? items : [];"
      },
      "id": "parse_youtube",
      "name": "Normalize YouTube Videos",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1400, 260]
    },
    {
      "parameters": {
        "url": "={{ 'https://news.google.com/rss/search?q=' + encodeURIComponent($json.autoQuery) + '&hl=en-IN&gl=IN&ceid=IN:en' }}",
        "options": {
          "response": { "response": { "responseFormat": "text" } },
          "retry": { "retry": { "maxTries": 3, "waitBetweenTries": 2000 } }
        }
      },
      "id": "fetch_gdelt",
      "name": "2C. Fetch Industry News",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1150, 420],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const xml = $input.first()?.json?.data || '';\nconst config = $('Auto-Extract Industry Topic').first()?.json || {};\nconst text = (v = '') => String(v).replace(/<!\\[CDATA\\[([\\s\\S]*?)\\]\\]>/g, '$1').replace(/<[^>]*>/g, '').trim();\nconst pick = (block, tag) => text((block.match(new RegExp(`<${tag}[^>]*>([\\s\\S]*?)<\\/${tag}>`, 'i')) || [])[1] || '');\nconst matches = [...xml.matchAll(/<item>([\\s\\S]*?)<\\/item>/gi)].slice(0, 5);\nconst items = matches.map((m) => {\n  const item = m[1]; const title = pick(item, 'title'); const link = pick(item, 'link'); const pub = pick(item, 'pubDate'); const source = pick(item, 'source');\n  if (!title || !link) return null;\n  return {\n    json: {\n      workspaceId: config.workspaceId,\n      title: `Industry News: ${title}`,\n      sourceUrl: link,\n      publishedAt: pub ? new Date(pub).toISOString() : new Date().toISOString(),\n      sourceName: source || 'Google News',\n      sourceType: 'report',\n      content: `Breaking industry news for '${config.businessName}' (${config.industry}). Headline: ${title}. Media outlet: ${source || 'Google News'}. Article link: ${link}`,\n      automationSecret: config.automationSecret\n    }\n  };\n}).filter(Boolean);\nreturn items.length ? items : [];"
      },
      "id": "parse_gdelt",
      "name": "Normalize Industry News",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1400, 420]
    },
    {
      "parameters": {
        "url": "={{ 'https://wikimedia.org/api/rest_v1/metrics/pageviews/per-article/en.wikipedia.org/all-access/user/' + $json.autoQuery.replace(/ /g, '_') + '/daily/2025010100/2025020100' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "User-Agent", "value": "TrendsAgent/1.0 (https://trendsagent.os)" }
          ]
        },
        "options": {
          "retry": { "retry": { "maxTries": 2, "waitBetweenTries": 2000 } }
        }
      },
      "id": "fetch_wikimedia",
      "name": "2D. Fetch Wikimedia Attention",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1150, 580],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const config = $('Auto-Extract Industry Topic').first()?.json || {};\nconst rawItems = $input.first()?.json?.items || [];\nif (!rawItems.length) return [];\nconst views = rawItems.map((i) => Number(i.views || 0));\nconst avg = views.reduce((a, b) => a + b, 0) / views.length;\nreturn [{\n  json: {\n    workspaceId: config.workspaceId,\n    title: `Wikimedia Attention: ${config.industry}`,\n    sourceUrl: `https://en.wikipedia.org/wiki/${encodeURIComponent(config.autoQuery.replace(/ /g, '_'))}`,\n    publishedAt: new Date().toISOString(),\n    sourceName: 'Wikimedia Pageviews API',\n    sourceType: 'report',\n    content: `Wikimedia pageview attention signal for industry '${config.industry}'. 30-day average daily pageviews: ${avg.toFixed(0)}.`,\n    automationSecret: config.automationSecret\n  }\n}];"
      },
      "id": "parse_wikimedia",
      "name": "Normalize Wikimedia Attention",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1400, 580]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://wguazpvpelerzoqglyst.supabase.co/functions/v1/automation-ingest",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-automation-secret", "value": "={{ $json.automationSecret }}" }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "jsonBody": "={{ { workspaceId: $json.workspaceId, title: $json.title, sourceUrl: $json.sourceUrl, publishedAt: $json.publishedAt, content: $json.content, sourceName: $json.sourceName, sourceType: $json.sourceType } }}"
      },
      "id": "ingest_all",
      "name": "3. Ingest Evidence to TrendsAgent OS",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1650, 340],
      "onError": "continueRegularOutput"
    }
  ],
  "connections": {
    "Every 12 hours": { "main": [[{ "node": "1. Set Master Credentials", "type": "main", "index": 0 }]] },
    "1. Set Master Credentials": { "main": [[{ "node": "Auto-Read Business Profile from Supabase", "type": "main", "index": 0 }]] },
    "Auto-Read Business Profile from Supabase": { "main": [[{ "node": "Auto-Extract Industry Topic", "type": "main", "index": 0 }]] },
    "Auto-Extract Industry Topic": {
      "main": [
        [
          { "node": "2A. Fetch Outside Viral Trends (Google RSS)", "type": "main", "index": 0 },
          { "node": "2B. Fetch Industry YouTube Videos", "type": "main", "index": 0 },
          { "node": "2C. Fetch Industry News", "type": "main", "index": 0 },
          { "node": "2D. Fetch Wikimedia Attention", "type": "main", "index": 0 }
        ]
      ]
    },
    "2A. Fetch Outside Viral Trends (Google RSS)": { "main": [[{ "node": "Normalize Outside Trends", "type": "main", "index": 0 }]] },
    "Normalize Outside Trends": { "main": [[{ "node": "3. Ingest Evidence to TrendsAgent OS", "type": "main", "index": 0 }]] },
    "2B. Fetch Industry YouTube Videos": { "main": [[{ "node": "Normalize YouTube Videos", "type": "main", "index": 0 }]] },
    "Normalize YouTube Videos": { "main": [[{ "node": "3. Ingest Evidence to TrendsAgent OS", "type": "main", "index": 0 }]] },
    "2C. Fetch Industry News": { "main": [[{ "node": "Normalize Industry News", "type": "main", "index": 0 }]] },
    "Normalize Industry News": { "main": [[{ "node": "3. Ingest Evidence to TrendsAgent OS", "type": "main", "index": 0 }]] },
    "2D. Fetch Wikimedia Attention": { "main": [[{ "node": "Normalize Wikimedia Attention", "type": "main", "index": 0 }]] },
    "Normalize Wikimedia Attention": { "main": [[{ "node": "3. Ingest Evidence to TrendsAgent OS", "type": "main", "index": 0 }]] }
  },
  "active": false,
  "settings": { "executionOrder": "v1" }
}
